html{
	//background-color: #854242;
	background-image: url("low_contrast_linen_red.png");
	color: #854242;
	font-size: 20px;
}

header{
	text-align: center;
	font-size: 36px;
	color: #E0C092;
	margin-bottom: 20px;
}

#wrapper{
	width: 700px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

#contents{
	background-color: #708F61;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	position: relative;
	width: 100%;
	height: 500px;
}

#lists{
	position: absolute;
	left: 0;
	top: 0;
	width: 550px;
	height: 100%;
	overflow: auto;
}

#menu{
	background-color: #B8DEA6;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 100%;
	overflow: auto;
}

.menuItem{
	margin: 5px 10px;
	padding: 5px 10px;
}

.menuItem:hover{
	background-color: #708F61;
}

.menuItem:active{
	position: relative;
	top: 1px;
}

.listBoxOn{
	margin: 10px;
	padding: 5px;
	background-color: #B8915A;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	height: 400px;
	overflow: auto;
}

.listBoxOff{
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	display: none;
}

.listFormBox{
	margin: 10px;
	padding: 5px;
	background-color: #B8915A;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
}

.listName{
	background-color: #E0C092;
	padding: 6px;
	border-radius: 12px;
	margin: 5px;
	font-weight: bold;
}

.list{
	background-color: #E0C092;
	padding: 6px;
	border-radius: 8px;
	margin: 5px;
}

ul{
	list-style-type: circle;
	padding-left: 25px;
}

input[type="text"]{
	border-radius: 5px;
}

.list label{
	font-size: 16px;
}
